<div class="col-lg-20 d-none d-lg-table-cell">
        <div class="list-group">
            <a class="list-group-item nav-link" href="{% url 'comidas:crear' %}">Crear Comida</a>
            <a class="list-group-item nav-link" href="{% url 'comidas:buscar' %}">Listar Comida</a>
            <a class="list-group-item nav-link" href="{% url 'tiendas:crear' %}">Crear Tienda</a>
            <a class="list-group-item nav-link" href="{% url 'tiendas:buscar' %}">Listar Tienda</a>
        </div>
</div>